body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  font-family: Consolas;
  font-size: 1.5rem;
  background-color: rgba(123, 123, 196, 0.644);
  padding: 10px 20px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}
p {
  font-family: source-code-pro;
  font-size: 2rem;
  margin-left: 40px;
  color: rgb(10, 10, 86);
}
